
<script src="searchbar.component.js"></script>
<link rel="stylesheet" type="text/css" href="temp.css" />
<div>
<a href="../../../index.html">Home</a>

	<!--  <script src=""></script>-->

	<div class="searchWrapper">
		<label onclick="getAncestorList()" onshow="Name or Contributor">Search<input
			class="searchBox" type="search">
		</label>
	</div>

	<div>
	</div>
	<div><!-- Canvas creates a bitmap image. -->
		<canvas class="Drawing" width="300" height="300">
		</canvas>
	</div>

	<div>
	</div>
</div>
